* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../images/football-background.jpg");
  background-size: cover;
}
button {
  color: #fff !important;
  background-color: #6767e7 !important;
}

button:hover {
  opacity: 0.9;
}
